@import "reset";
@import "extends";
@import "mixins";
@import "theme/default";
@import "theme/light";
@import "variables/global";

a.active {
    font-weight: 600;
    opacity: 1;
}

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;

    & .content-page {
        display: flex;

        & .page-wrapper {
            flex-grow: 1;
        }
    }
}
