@import 'reset';
@import 'theme/default';
@import 'theme/light';
@import 'variables/global';

.app {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}