:root {
    --font-family-main: oswald, arial, helvetica, sans-serif;
    --font-size-m: 16px;
    --font-line-m: 1.5;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 1.3;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    // Sizes
    --header-height: 130px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;

    // Breakpoints
    --desktop: 1920px;
    --laptop: 1440px;
    --tablet: 1024px;
    --tablet-s: 768px;
    --mobile: 414px;
    --mobile-s: 375px;

    // z-index
    --modal-popup: 10;

    // colors
    --red-light: #FF0000;
    --red-dark: #BF0000;
}
