.title {
    margin-bottom: 26px;
    padding-bottom: 26px;
    color: var(--primary-color-title);
    font: var(--font-l);
    border-bottom: 1px solid var(--primary-color-text);
}

.text {
    font: var(--font-m);
    color: var(--primary-color-text);
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}
