.modal {
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;

    &_opened {
        pointer-events: auto;
        opacity: 1;
        z-index: var(--modal-popup);
    }

    &__overlay {
        width: 100%;
        height: 100%;
        background: rgba(0 0 0 / 40%);
        display: grid;
        justify-items: center;
        align-items: center;
    }

    &__content {
        width: 100%;
        max-width: 380px;
        padding: 60px 70px;
        background: var(--paper-color);
        transition: transform 0.2s ease-out;
        transform: scale(0);

        &_opened {
            transform: scale(1);
        }

        &_closing {
            transform: scale(0);
        }
    }
}
