.button {
    cursor: pointer;
    color: var(--primary-color);
    transition: all 0.3s;

    &_disabled {
        color: var(--disabled-color);
    }
}

.clear {
    padding: 0;
    border: none;
    outline: none;
    background: none;
}

.outlined {
    padding: 12px 8px;
    background-color: unset;
    border: 1px solid var(--primary-color);

    &:hover {
        color: var(--btn-hover-color);
        background-color: var(--primary-color);
    }
}

.filled {
    padding: 10px 5px;
    background: var(--bg-color-revert);
    border: 1px solid var(--bg-color-revert);
    color: var(--primary-color-revert);
}
