.button {
    cursor: pointer;
    color: var(--primary-color);
}

.clear {
    padding: 0;
    border: none;
    outline: none;
    background: none;
}

.outlined {
    padding: 10px 5px;
    background: none;
    border: 1px solid var(--primary-color);
}
