@import 'src/app/styles/mixins';

.sidebar {
    padding: 32px 16px;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #CCCCCC;
    background-color: var(--bg-color);
    transform: translateX(100%);
    transition: transform 0.3s;

    &__closeButton {
        margin-bottom: 32px;
        margin-left: auto;
    }

    &__navList {
        gap: 16px;
        margin-right: 16px;
        flex-direction: column;
    }

    &_opened {
        transform: translateX(0%);
    }
}
