.form {
    display: flex;
    flex-direction: column;

    &__button {
        margin-top: 15px;
        margin-left: auto;
        color: var(--modal-btn-color);
        border-color: var(--modal-btn-color);

        &:hover {
            color: var(--modal-btn-hover-color);
            background-color: var(--modal-btn-color);
        }
    }
}
