.profileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    &__controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 12px;
    }

    &__btn {
        color: var(--modal-btn-color);
        border-color: var(--modal-btn-color);

        &:hover {
            color: var(--modal-btn-hover-color);
            background-color: var(--modal-btn-color);
        }
    }
}
