.default {
    --bg-color: #000000;
    --paper-color: #FFFFFF;
    --primary-color: #FFFFFF;
    --modal-btn-color: #000000;
    --modal-btn-hover-color: #FFFFFF;
    --btn-hover-color: #000000;
    --primary-color-title: #2B2B2B;
    --primary-color-text: #555555;
    --disabled-color: #A5A5A5;
}
