.select {
    padding: 4px 8px;
    background-color: transparent;
    color: var(--primary-color);
}

.select__wrapper {
    color: var(--primary-color);
}

.select__label {
    display: block;
    margin-bottom: 8px;
}
