@import 'src/app/styles/mixins';

.header {
    width: 100%;
    min-height: var(--header-height);
    padding: 0 24px;
    display: flex;
    align-items: center;

    &__wrapper {
        max-width: var(--desktop);
        width: 100%;
        margin: 0 auto;
        @include display-flex(center, space-between);
    }

    &__main {
        @include display-flex(center, space-between);

        gap: 16px;
    }
    
    &__navList {
        @include display-flex(center, space-between);

        gap: 16px;
        margin-right: 16px;
    }
}
