.profileCard {
    padding: 20px;
    border: 1px solid var(--bg-color-revert);
    color: var(--primary-color-text);

    &__input {
        margin-bottom: 10px;
    }

    &_loading,
    &_error {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
