.navItem {
    text-align: center;
    margin-bottom: 16px;

    &__link {
        font-weight: 200;
        text-transform: uppercase;
        color: var(--primary-color);
        opacity: 0.8;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 1;
        }
    }
}
